
<p>Hi <%= @recipient.full_name %>,</p>
<br/>
<p><%= @receiver_sv %> <%= @type %> request dated { <%= @dated_on %> }.</p>
<br/>
<p>To view request, please go to:</p>
<a href="<%= url_for(@url) %>"><%= url_for(@url) %></a>
<br/>
<p>This is a system generated email. Please do not reply.</p>
<br/>
<p>Regards,</p>
<p>eGEMs</p>
