<%= flash_message %>

<h3>Leave Balances</h3>
<hr />
<% if @leaves.any? %>
  <table class="table timesheets leave_details">
    <thead>
      <tr>
        <th>Leave Type</th>
        <th>Allocated</th>
        <th>Consumed</th>
        <th>Pending</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <% @leaves.each do |leave| %>
      <tr>
        <td><%=link_to leave.leave_type, "#collapse#{leave.id}", html: { class: "accordion-toggle" }, data: { parent: "#accordion2", toggle: "collapse", target: "#collapse#{ leave.id }" } %>
        </td>
        <td class="mins"><%= leave.leaves_allocated %></td>
        <td class="mins"><%= leave.leaves_consumed %></td>
        <td class="mins"><%= leave.total_pending %></td>
        <td class="mins"><%= leave.remaining_balance %></td>
      <tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="well">No data found.</div>
<% end %>
<br><br>

<div class="accordion" id="accordion2">
  <% @leaves.each do |leave| %>
      <%= render partial: "leave_details/index", locals: { leave: leave } %>
  <% end %>
</div>