<p>Please input missing timeout</p>
<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Time in</th>
    <th>Time out</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @invalid_timesheets.each do |timesheet| %>
    <tr>
      <td><%= format_date timesheet.date %></td>
      <td><%= format_time timesheet.time_in %></td>
      <td>
      <%= form_for(timesheet, :url => { :action => 'manual_timeout', :id => timesheet.id }) do |f| %>
        <%= text_field 'timeout', 'hour', :placeholder => 'hh', :size => 2, :maxlength => 2, :class => 'time' %>
        <%= text_field 'timeout', 'min', :placeholder => 'mm', :size => 2, :maxlength => 2, :class => 'time' %>
        <%= select 'timeout', 'meridian', ['AM', 'PM'], {}, { :class => 'time' } %>
        <%= f.submit 'Timeout' %>
      <% end -%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
