
<%= flash_message %>

<p>Please input missing timeout</p>
<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Last Time in</th>
    <th>
      Time out
      <%= link_to "Cancel", timesheets_path, :class => "pull-right" %>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= format_date @invalid_timesheet.date %></td>
    <td><%= format_long_time @invalid_timesheet.time_in %></td>
    <td>
    <%= form_for(@invalid_timesheet, :url => { :action => 'manual_timeout', :id => @invalid_timesheet.id, :forced => @force }, :method => :post) do |f| %>
      <%= text_field 'timeout', 'hour', :value => get_default_timeout_hours, :size => 2, :maxlength => 2, :class => 'time' %>
      <%= text_field 'timeout', 'min', :value => get_default_timeout_minutes, :size => 2, :maxlength => 2, :class => 'time' %>
      <%= select 'timeout', 'meridian', ['AM', 'PM'], { selected: get_default_timeout_meridian }, { :class => 'time' } %>
      <%= text_field 'timeout', 'date', :value => format_date(@invalid_timesheet.date), :class => 'time', :style => 'width: 100px;' %>
      <%= f.submit 'Time out', class: "btn-info" %>
    <% end -%>
    </td>
  </tr>
  </tbody>
</table>
