<p>Please input missing timeout</p>
<table class="table">
  <thead>
  <tr>
    <th>Date</th>
    <th>Time in</th>
    <th>
      Time out
      <%= link_to "Cancel", timesheets_path, :class => "pull-right" %>
    </th>
  </tr>
  </thead>
  <tbody>
  <% @invalid_timesheets.each do |timesheet| -%>
  <tr>
    <td><%= format_date timesheet.date %></td>
    <td><%= format_long_time timesheet.time_in %></td>
    <td>
    <%= form_for(timesheet, :url => { :action => 'manual_timeout', :id => timesheet.id, :forced => @force }, :method => :post) do |f| %>
      <%= text_field 'timeout', 'hour', :placeholder => 'hh', :size => 2, :maxlength => 2, :class => 'time' %>
      <%= text_field 'timeout', 'min', :placeholder => 'mm', :size => 2, :maxlength => 2, :class => 'time' %>
      <%= select 'timeout', 'meridian', ['AM', 'PM'], {}, { :class => 'time' } %>
      <%= text_field 'timeout', 'date', :value => format_date(timesheet.date), :class => 'time', :style => 'width: 100px;' %>
      <%= f.submit 'Time out' %>
    <% end -%>
    </td>
  </tr>
  <% end -%>
  </tbody>
</table>
