<div class="row">
  <div class="span5 offset4">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'well form-horizontal' }) do |f| %>
    <h2>Sign in</h2>
    <fieldset>
      <%= flash_message %> 
      <div class="control-group">
        <%= f.label :login, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :login %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :password, :class => 'control-label' %>
        <div class="controls">
          <%= f.password_field :password %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <%= f.check_box :remember_me %>
              Remember me
            </label>
          </div>
        </div>
      <% end -%>
      <div class="form-actions no-padding-bottom no-margin-bottom">
        <%= f.submit "Sign in", :class => 'btn btn-primary btn-large' %>
      </div>
      
    </fieldset>
  <% end %>
  </div>
</div>‌
