
<%= form_for(@leave_detail, :html => { :class => 'well form-horizontal' }) do |f| %>
  <% if @leave_detail.errors.any? %>
  <div id="errorExplanation" class="alert alert-error">
    <button class='close' data-dismiss='alert'>&times;</button>
    <h3><%= pluralize(@leave_detail.errors.count, "error") %> prohibited
        this post from being saved:</h3>
    <ul>
    <% @leave_detail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  
  <fieldset>
    <div class="control-group">
      <%= f.label :leave_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.select :leave_type, options_for_select(@employee.leaves.map(&:leave_type)) %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :period, :class => 'control-label' %>
      <div class="controls">
        <label class="radio inline">
          <%= f.radio_button :period, "1" %> 1st Period
        </label>&nbsp;
        <label class="radio inline">
          <%= f.radio_button :period, "2" %> 2nd Period
        </label>
        <label class="radio inline">
          <button id="radio-reset-btn" class="btn btn-mini"><i class="icon-remove"></i></button>
        </label>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :leave_date, :class => 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :leave_date, :value => '', :class => 'span2' %>
        </div>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :end_date, :class => 'control-label' %>
      <div class="controls">
        <div class="input-append">
          <%= f.text_field :end_date, :value => '', :class => 'span2' %>
        </div>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :leave_unit, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :leave_unit, :value => '', :class => 'span1' %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :details, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :details, :value => '', :class => 'input-xlarge', :rows => 3 %>
      </div>
    </div>
    
    <div class="form-actions no-padding-bottom no-margin-bottom">
      <%= f.submit "Create", :class => 'btn' %>
      <%= link_to "Cancel", timesheets_path, :class => 'btn' %>
    </div>
    
  </fieldset>
<% end %>
