<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Egems" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
    <link rel="stylesheet" type="text/css" media="screen" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/base/jquery-ui.css">
  </head>
  <body>

    <div class="container-fluid">
      <!-- ========== MAIN TOP NAV ========== -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a class="brand" href="#">Egems</a>
            <ul class="nav">
              <li class="active">
                <a href="#">Timesheets</a>
              </li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <ul class="nav pull-right">
              <li><a href="#"><%= current_user.login %></a></li>
              <li class="divider-vertical"></li>
              <li>
              <%= link_to "<i class=\"icon-off\"></i> Signout".html_safe,
                signout_path, :method => :delete %>
              </li>
            </ul>
          </div>
        </div>
        <!-- ========== SUB NAV ========== -->
        <div class="navbar-sub">
          <div class="container">
            <h2 class="nav pull-right" href="#">
              <i class="icon-time"></i>
              <span id="time" data-time="<%= now = Time.now %>">
                <%= format_short_time_with_sec(now) %>
              </span>
            </h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="span9 offset2">
          <%= flash_message %>
          <%= yield %>
        </div>
      </div>
      <footer class="footer">
          <p>&copy; Egems 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/jquery-ui.min.js"></script>

  </body>
</html>
